{% extends "base.html" %}
{% block title %}Community Engagement{% endblock %}

{% block content %}
<div id="community-page" class="container mt-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts1.jpg') }}" class="card-img-top" alt="Impacts Image 1">
        <div class="card-body">
          <h5 class="card-title">Project Fine Dust Measuring and Sniffing Bike</h5>
          <p class="card-text">
            The "Project Fijnstof Meten en Snuffelfiets" by RIVM engages schools and citizens in measuring PM2.5 using "Snuffelfietsen" (sniffer bikes), promoting environmental awareness, citizen science, and contributing valuable air quality data.
          </p>
          <a href="https://www.samenmeten.nl/scholen/project-fijnstof-meten-en-snuffelfiets"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts2.jpg') }}" class="card-img-top" alt="Impacts Image 2">
        <div class="card-body">
          <h5 class="card-title">Eindhoven2: The School Commute Game</h5>
          <p class="card-text">
            This interactive game educates on air pollution’s causes, impacts, and solutions through engaging quizzes and missions, simplifying complex science to promote awareness, sustainability, and community action in a fun, relatable way
          </p>
          <a href="https://vrdev-ar.com/Eindhoven2/"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts3.jpg') }}" class="card-img-top" alt="Impacts Image 3">
        <div class="card-body">
          <h5 class="card-title">Schools Campaign What we want (School Streets)</h5>
          <p class="card-text">
            This visual highlights 1.3 million tons of road particulate emissions in Europe annually, raising awareness about pollution's environmental and health impacts while promoting sustainable transport and urban planning solutions
          </p>
          <a href="https://drive.google.com/file/d/1fZ3Z3oJF4OSvtpuhTMbnkboIuUNlB8Cg/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
