{% extends "base.html" %}
{% block title %}Impacts{% endblock %}

{% block content %}
<div id="impacts-page" class="container mt-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts1.jpg') }}" class="card-img-top" alt="Impacts Image 1">
        <div class="card-body">
          <h5 class="card-title">Infographic on Air Pollution and Noise</h5>
          <p class="card-text">
            The document highlights urban planning strategies to mitigate heat islands and enhance public health by increasing green and blue spaces and using reflective materials
          </p>
          <a href="https://drive.google.com/file/d/1cEQwhSTVT9qa5RDBxvQVhfjUqoHmVXcJ/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts2.jpg') }}" class="card-img-top" alt="Impacts Image 2">
        <div class="card-body">
          <h5 class="card-title">Infographic on Sustainable Mobility</h5>
          <p class="card-text">
            This infographic highlights the need for sustainable urban mobility, promoting active transport, equitable spaces, and redesigning cities to enhance health, reduce pollution, and support community well-being and children’s development
          </p>
          <a href="https://drive.google.com/file/d/1Dk6yNyNGbSC1z0Dhtw6x2PWMi4ivnG5L/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts3.jpg') }}" class="card-img-top" alt="Impacts Image 3">
        <div class="card-body">
          <h5 class="card-title">Social Media Communication Materials</h5>
          <p class="card-text">
            This visual highlights the 1.3 million tons of road particulate emissions in Europe annually, raising awareness about air pollution and promoting sustainable transport through concise, impactful science communication
          </p>
          <a href="https://drive.google.com/file/d/1fZ3Z3oJF4OSvtpuhTMbnkboIuUNlB8Cg/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
