{% extends "base.html" %}
{% block title %}Miscellaneous{% endblock %}

{% block content %}
<div id="community-page" class="container mt-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts1.jpg') }}" class="card-img-top" alt="Impacts Image 1">
        <div class="card-body">
          <h5 class="card-title">Citizen Science Research Notebook</h5>
          <p class="card-text">
            The LAB CSU empowers communities to tackle urban challenges through participatory citizen science, guiding diagnosis, planning, and analysis to foster innovation, learning, and sustainable urban solutions, supported by ISGlobal and BIT Habitat
          </p>
          <a href="https://drive.google.com/file/d/1ab80RNoD-yY6H4qVXLVa3aaFMRBjTDPx/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts2.jpg') }}" class="card-img-top" alt="Impacts Image 2">
        <div class="card-body">
          <h5 class="card-title">Comic Redrawing Barcelona</h5>
          <p class="card-text">
            Redrawing Barcelona uses comics to simplify urban health science, addressing pollution, noise, and child health. It promotes sustainable urban planning, citizen action, and relatable insights for healthier cities
          </p>
          <a href="https://www.isglobal.org/documents/10179/9190252/Redrawing+Barcelona_english+FINAL.pdf/fa8f8467-232a-4f2a-924c-3b1bcde9ef30"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts3.jpg') }}" class="card-img-top" alt="Impacts Image 3">
        <div class="card-body">
          <h5 class="card-title">Information Booklet for Participants</h5>
          <p class="card-text">
            This guide explores tire-wear pollution, health impacts, and solutions through citizen science, promoting youth-led research, social innovation, and community engagement to tackle air pollution and foster sustainable urban environments
          </p>
          <a href="https://drive.google.com/file/d/1eG2j5o0MCn3-_quoKxhx9encJKwlt2I1/view"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
