{% extends "base.html" %}
{% block title %}Best Practices{% endblock %}

{% block content %}
<div id="community-page" class="container mt-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts1.jpg') }}" class="card-img-top" alt="Impacts Image 1">
        <div class="card-body">
          <h5 class="card-title">Air quality action guide</h5>
          <p class="card-text">
            The Air Quality Action Guide provides actionable steps to reduce pollution, protect health, and promote sustainability through tailored recommendations and tools like the Clean Air Partners App for informed decision-making
          </p>
          <a href="https://www.cleanairpartners.net/sites/default/files/Air%20Quality%20Action%20Guide_English.pdf"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts2.jpg') }}" class="card-img-top" alt="Impacts Image 2">
        <div class="card-body">
          <h5 class="card-title">Clean Air Partner Promotional Toolkit</h5>
          <p class="card-text">
            The Air Quality Action Guide simplifies air quality science into actionable steps, promoting health, reducing pollution, and empowering communities with tools like the Clean Air Partners App for sustainable living
          </p>
          <a href="https://www.cleanairpartners.net/sites/default/files/Employer%20Toolkit.pdf"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card tile-card">
        <img src="{{ url_for('static', filename='images/impacts3.jpg') }}" class="card-img-top" alt="Impacts Image 3">
        <div class="card-body">
          <h5 class="card-title">Best practices for local and regional Air Quality management</h5>
          <p class="card-text">
            This JRC guide outlines best practices for air quality management, integrating science and policy to combat pollution, offering actionable strategies for policymakers, researchers, and environmental agencies
          </p>
          <a href="https://publications.jrc.ec.europa.eu/repository/bitstream/JRC129029/kjna31097enn.pdf"
             class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Material</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
